@model BeFreeWeb.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Befree Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <!--<div><img src="~/Img/befree_logo_icone.png" alt="..."></div>-->
                            <div class="content">
                                <div class="logo">
                                </div>
                                </br>
                                </br>
                                </br>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                @using (Html.BeginForm("EfetuarLogin", "Home", FormMethod.Post, new { @id = "login-form", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.email, new { @class = "input-material", @id = "login-username", @name = "loginUsername" })
                                        @Html.LabelFor(m => m.email, new { @class = "label-material" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.senha, new { @class = "input-material", @id = "login-password", @name = "loginPassword" })
                                        @Html.LabelFor(m => m.senha, new { @class = "label-material" })
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="login">Login</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>Design by Befree</p>
        </div>
    </div>

</body>
</html>

<!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/tether.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"> </script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/front.js"></script>